{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
{% if info %}
<div class="alert alert-success text-center" role="alert">
    <h3>{{ info }}</h3>
</div>
{% endif %}

<h1 class="text-center">Imkop Monitoring!</h1>
<br>
<div class="container row pt-3">
  <div class="col-4 align-self-center text-center">
      <img class="img-fluid" height="158" src="{% static 'bartek.png' %}">
      <h3>🖱 Bartek 💻</h3>
      </div>
    <div class="col-4 align-self-center text-center">
        <img class="img-fluid" height="158" src="{% static 'kuba.png' %}">
        <h3>⛽️ Kuba 🤑</h3>
      </div>
    <div class="col-4 align-self-center text-center">
        <img class="img-fluid" height="158" src="{% static 'wera.png' %}">
        <h3>📝 Werusia 💄</h3>
      </div>
</div>

<div class="text-center pt-5">
    <img class="img-fluid" src="{% static 'logo2.png' %}">
</div>


{% endblock %}