{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>

<h1 class="text-center">Imkop Monitoring!</h1>
<br>
<div class="row pt-3">
  <div class="col-2 align-self-center">
      <img class="img-fluid" src="{% static 'bartek.png' %}">
      </div>
    <div class="col-8 text-center" >
        <img class="img-fluid"  src="{% static 'logo2.png' %}">
      </div>
    <div class="col-2 align-self-center" >
        <img class="img-fluid" src="{% static 'wera.png' %}">
      </div>

</div>
<div class="container text-center pt-3">
<img class="img-fluid" src="{% static 'kuba.png' %}">
</div>







    {% endblock %}