{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>

<h1 class="text-center">Imkop Monitoring!</h1>
<br>
<div class="container row pt-3">
  <div class="col-4 align-self-center text-center">
      <img height="158" src="{% static 'bartek.png' %}">
      </div>
    <div class="col-4 align-self-center text-center">
        <img height="158" src="{% static 'kuba.png' %}">
      </div>
    <div class="col-4 align-self-center text-center">
        <img height="158" src="{% static 'wera.png' %}">
      </div>
</div>

<div class="text-center pt-5">
    <img class="img-fluid" src="{% static 'logo2.png' %}">
</div>






    {% endblock %}