{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container pt-4">
<form method="POST" action="{% url 'wynik' %}">
    {% csrf_token %}
    <div class="form-floating">
        <textarea class="form-control"  id="floatingTextarea2" style="height: 700px" name="fulltext"></textarea>
        <label style="color: #000000; font-size: 140%;" for="floatingTextarea2">Wklej tutaj raport</label>
    </div>
    <br>
    <div class="text-center">
    <input class="btn btn-success btn-lg" type="submit" value="Policz kursy"/>
        </div>
</form>
</div>

{% endblock %}