{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div class="container col-8 text-center" style="opacity: 0.95;">
<table class="table table-dark table-striped">
  <thead>
    <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Nr telefonu</th>
        <th scope="col">Nr karty</th>
    </tr>
  </thead>
  <tbody>
  {% for kierowca in lista.all %}
  <tr>
      <td>{{ kierowca.imie }}</td>
      <td>{{ kierowca.nazwisko }}</td>
      <td>{{ kierowca.telefon }}</td>
      <td>{{ kierowca.karta }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}