{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div class="row">
<div class="card text-dark bg-light mb-3 col-4" style="opacity: 0.8;">
    <div class="card-body">
        <h3 class="card-title">{{ pojazd.nazwa }} <a style="color: black;" href="{% url 'edit' pojazd.id %}"><i class="bi bi-pencil-square"></i></a> </h3>
        {% if pojazd.marka %}<hr>
        <p class="card-text">Marka: {{ pojazd.marka }} {% endif %}</p>
        {% if pojazd.model %}<hr>
        <p class="card-text">Model: {{ pojazd.model }} {% endif %}</p>
        {% if pojazd.rejestracja %}<hr>
        <p class="card-text">Nr rejestracyjny: {{ pojazd.rejestracja }} {% endif %}</p>
        {% if pojazd.vin %}<hr>
        <p class="card-text">Nr VIN: {{ pojazd.vin }} {% endif %}</p>
        {% if pojazd.date_przeglad %}<hr>
        <p class="card-text">Data przeglądu: {{ pojazd.date_przeglad }} {% endif %}</p>
        {% if pojazd.dni_przeglad %}<hr>
        <p class="card-text">Do przeglądu zostało {{ pojazd.dni_przeglad }} {% endif %}</p>
        {% if pojazd.tachograf_info %}<hr>
        <p class="card-text">Model tachografu: {{ pojazd.tachograf_info }} {% endif %}</p>
        {% if pojazd.date_tacho %}<hr>
        <p class="card-text">Data legalizacji: {{ pojazd.date_tacho }} {% endif %}</p>
        {% if pojazd.dni_tacho %}<hr>
        <p class="card-text">Do legalizacji zostało {{ pojazd.dni_tacho }} {% endif %}</p>


  </div>
</div>
    <div class="col-8">
        {% if pojazd.picture %}
        <img src="{{ pojazd.picture.url }}" class="img-thumbnail img-fluid"  />
        {% endif %}
    </div>
</div>
{% endblock %}