{% extends 'base.html' %}
{% block content %}
{% load static %}
<br/>
<div class="container">
 <table class="table table-dark table-striped">
  <thead>
    <tr>

        <th scope="col">Nazwa</th>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Nr rejestracyjny</th>
        <th scope="col">VIN</th>
        <th scope="col">Przegląd</th>
        <th scope="col">Dni do przegladu </th>
        <th scope="col">Legalizacja</th>
        <th scope="col">Dni do legalizacji</th>
    </tr>
  </thead>
  <tbody>
  {% for pojazd in pojazdy.all %}

  <tr>

      <td>{{ pojazd.nazwa }}</td>
      <td>{{ pojazd.marka }}</td>
      <td>{{ pojazd.model }}</td>
      <td>{{ pojazd.rejestracja }}</td>
      <td>{{ pojazd.vin }}</td>
      <td>{{ pojazd.date_przeglad }}</td>
      <td>{{ pojazd.dni_przeglad }}</td>
      <td>{{ pojazd.date_tacho }}</td>
      <td>{{ pojazd.dni_tacho }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
    </div>


{% endblock %}