{% extends 'base.html' %}
{% block content %}
{% load static %}
<br/>
<div class="container " style=" opacity: 0.97; ">
<table class="table table-light table-striped" style="">
  <thead>
    <tr>

        <th scope="col">Nazwa</th>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Nr rejestracyjny</th>
        <th scope="col">VIN</th>
        <th scope="col">Firma</th>

    </tr>
  </thead>
  <tbody>
  {% for pojazd in pojazdy.all %}
  <tr>
      <td onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;"><a style="color: black;" href="{% url 'edit' pojazd.id %}"><i class="bi bi-pencil-square"></i></a>  {{ pojazd.nazwa }}</td>
      <td onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;">{{ pojazd.marka }}</td>
      <td onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;">{{ pojazd.model }}</td>
      <td onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;">{{ pojazd.rejestracja }}</td>
      <td onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;">{{ pojazd.vin }}</td>
      <td onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;">{{ pojazd.firma }}</td>

  </tr>
  {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}