{% extends 'base.html' %}
{% block content %}
{% load static %}
<br/>
<div class="container " style=" opacity: 0.97; ">
<table class="table table-light" style="">
  <thead>
    <tr>

        <th scope="col">Nazwa</th>
        <th scope="col">Nr rejestracyjny</th>
        <th scope="col">VIN</th>
        <th scope="col">Przegląd</th>
        <th scope="col">Dni do przegladu </th>

    </tr>
  </thead>
  <tbody>
  {% for pojazd in pojazdy.all %}
  <tr>
      <td {% if pojazd.dni_przeglad < 1 %} class="table-danger" {% elif pojazd.dni_przeglad < 10 %} class="table-warning" {% elif pojazd.dni_przeglad > 9 %} class="table-success"  {% endif %}onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;"><a style="color: black;" href="{% url 'edit' pojazd.id %}"><i class="bi bi-pencil-square"></i></a>  {{ pojazd.nazwa }}</td>
      <td {% if pojazd.dni_przeglad < 1 %} class="table-danger" {% elif pojazd.dni_przeglad < 10 %} class="table-warning" {% elif pojazd.dni_przeglad > 9 %} class="table-success"  {% endif %}onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;">{{ pojazd.rejestracja }}</td>
      <td {% if pojazd.dni_przeglad < 1 %} class="table-danger" {% elif pojazd.dni_przeglad < 10 %} class="table-warning" {% elif pojazd.dni_przeglad > 9 %} class="table-success"  {% endif %}onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;">{{ pojazd.vin }}</td>
      <td {% if pojazd.dni_przeglad < 1 %} class="table-danger" {% elif pojazd.dni_przeglad < 10 %} class="table-warning" {% elif pojazd.dni_przeglad > 9 %} class="table-success"  {% endif %}onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;">{% if pojazd.date_przeglad %} {{ pojazd.date_przeglad }} {% endif %}</td>
      <td {% if pojazd.dni_przeglad < 1 %} class="table-danger" {% elif pojazd.dni_przeglad < 10 %} class="table-warning" {% elif pojazd.dni_przeglad > 9 %} class="table-success"  {% endif %}onclick="window.location='{% url 'detail' pojazd.id %}';" style="cursor: pointer;">{{ pojazd.dni_przeglad }} dni</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}